@model LR.Models.Leilao

@{
    ViewData["Title"] = "Cancelar LR";
}

<h1>Cancelar LR</h1>

<h3>Você tem certeza que deseja cancelar este LR?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DataAberturaLance)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.DataAberturaLance)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DataFechamento)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.DataFechamento)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Requisicao)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Requisicao)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.QuantidadeVencedores)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.QuantidadeVencedores)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CustoCompraEsperado)
        </dt>
        <dd class="col-sm-7">
            R$ @Html.DisplayFor(model => model.CustoCompraEsperado)
        </dd>
 
        <dt class="col-sm-3">
            Prioridade da compra
        </dt>
        <dd class="col-sm-7">
            @if (Model.IdAtributoPrecoPrazo1 == 1)
            {
                @Html.Raw("Menor preço")
            }
            else if (Model.IdAtributoPrecoPrazo1 == 2)
                @Html.Raw("Menor prazo")
                else if (Model.IdAtributoPrecoPrazo1 == 3)
                    @Html.Raw("Menor preço e prazo")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdTipoLeilaoNavigation)
        </dt>
        <dd class="col-sm-3" style="background-color:deepskyblue">
            @Html.DisplayFor(model => model.IdTipoLeilaoNavigation.Descricao)
        </dd>
    </dl>
    <div class="col-sm-3">
        <form asp-action="CancelarLeilao">
            <input type="hidden" name="id" value="@Model.IdLeilao" />
            <label class="control-label"><b>Motivo</b></label>
            <select class="form-control" name="idJustificativa">
                <option value="" selected="selected">Selecione</option>
                @foreach (var item in (SelectList)ViewBag.IdJustificativa)
                {
                    <option value="@(item.Value)">@item.Text</option>
                }
                }
            </select>
            <br />
            <input type="submit" value="Confirmar" class="btn btn-danger" />
            <a asp-action="PainelComprador" asp-controller="CompradorFornecedor">Voltar ao Painel</a>
        </form>
    </div> 
  </div>
